<h2>Categorias</h2>
<hr />

@model SistemaVenda.Models.CategoriaViewModel

<form asp-controller="Categoria" asp-action="Cadastro" method="post">    
    <input type="hidden" asp-for="Codigo" value="@Model.Codigo"/>

    <div class="form-group">
        <div class="col-4">
            <label>Descricão</label>
            <input asp-for="Descricao" type="text" value="@Model.Descricao" class="form-control"/>
        </div>
    </div>

</form>